[Unit]
Description=DHCPKit DHCPv6 Server
Requires=network-online.target
After=network-online.target
Documentation=http://docs.dhcpkit.org/en/stable/

[Service]
Type=simple
Restart=on-failure
OOMScoreAdjust=-500
PIDFile=%t/dhcpkit.pid
ExecStart=/usr/bin/ipv6-dhcpd --pidfile %t/dhcpkit.pid --control-socket %t/dhcpkit.sock /etc/dhcpkit/dhcpkit.conf
ExecReload=/usr/bin/ipv6-dhcpctl --control-socket %t/dhcpkit.sock reload
ExecStop=/usr/bin/ipv6-dhcpctl --control-socket %t/dhcpkit.sock shutdown

[Install]
WantedBy=multi-user.target
