#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=dhcpkit
export PYBUILD_DESTDIR_python3=debian/dhcpkit/

%:
	dh $@ --with python3,sphinxdoc,systemd --buildsystem=pybuild

override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -N -bhtml docs/ build/html # HTML generator
	PYTHONPATH=. sphinx-build -N -bman docs/ build/man # Manpage generator

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info

override_dh_installinit:
	dh_installinit --name ipv6-dhcpd

override_dh_systemd_enable:
	dh_systemd_enable --name ipv6-dhcpd
